.container {
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: stretch;
    width: auto;
    height: 400px;
    border: 2px solid black;
}

.items {
    width: 60px;
    height: 60px;
    background-color: red;
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
}   

.items:hover {
    box-shadow: 6px 8px 2px 1.5px black;
}